@page "/"

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Blazor Fractals</a>
  <a class="btn btn-primary" href="https://github.com/fernandreu/blazor-fractals">View Source on GitHub</a>
</nav>

<FractalPanel/>
