@page "/"
@using ApplicationCore
@using SixLabors.ImageSharp.PixelFormats

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="row">
    <input class="form-control col-2" @bind="_widthString" />
    <input class="form-control col-2" @bind="_heightString" />
    <input class="form-control col-2" @bind="_color" />
    <button class="btn btn-primary col-2" @onclick="GenerateImageAsync">Generate Image</button>
</div>

@if (_imageSource != null)
{
    <div class="row">
        <img src="@(_imageSource)" />
    </div>
}

@code
{
    string _widthString = "200";

    string _heightString = "200";

    string _color = "#123456";

    string _imageSource;

    private async Task GenerateImageAsync()
    {
        if (!int.TryParse(_widthString, out var width))
        {
            width = 500;
        }

        if (!int.TryParse(_heightString, out var height))
        {
            height = 500;
        }

        var image = await ImageUtils.GenerateSolidImageAsync(width, height, Rgba32.ParseHex(_color));
        _imageSource = image.Source;
    }
}
